<!DOCTYPE html>
<html ng-app="demo">
  <head>
    <meta charset="utf-8"/>
    <!--[if lt IE 9]>
    <script type="text/javascript" src="../bower_components/es5-shim/es5-shim.js"></script>
    <![endif]-->

    <script type="text/javascript" src="../bower_components/angular/angular.js"></script>
    <script type="text/javascript" src="../bower_components/w11k-dropdownToggle/dist/w11k-dropdownToggle.js"></script>
    <script type="text/javascript" src="../bower_components/angular-bindonce/bindonce.js"></script>
    <script type="text/javascript" src="../src/w11k-select.js"></script>
    <script type="text/javascript" src="../dist/w11k-select.tpl.js"></script>
    <script type="text/javascript" src="test.js"></script>

    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css"/>
    <link rel="stylesheet" href="../dist/w11k-select.css"/>
    <link rel="stylesheet" href="../bower_components/font-awesome/css/font-awesome.css"/>

    <style type="text/css">
      body {
        padding: 2em;
      }
    </style>
  </head>
  <body ng-controller="TestCtrl">
    <form name="demoForm" class="w11k-select-adjust-height-to" style="height: 700px">
      <fieldset>
        <div class="row">
          <div class="col-sm-6">
            <div w11k-select
                 w11k-select-config="[staticConfig, dynamicConfig]"
                 w11k-select-options="option.value as option.label for option in options.data"
                 ng-model="selected.data"
                 name="demoField"
                >
            </div>
          </div>
          <div class="col-sm-6">
            <button class="btn btn-default" ng-click="selectRandom()">select random</button>
            <button class="btn btn-default" ng-click="createNewOptions()">create new options</button>
            <button class="btn btn-default" ng-click="createAndSelect()">create and select</button>
            <button class="btn btn-default" ng-click="staticConfig.disabled = !staticConfig.disabled">Toggle Disabled</button>
            <button class="btn btn-default" ng-click="dynamicConfig.required = !dynamicConfig.required">Toggle Required</button>
            <button class="btn btn-default" ng-click="dynamicConfig.multiple = !dynamicConfig.multiple">Toggle Multiple</button>
            <button class="btn btn-default" ng-click="dynamicConfig.showClearAlways = !dynamicConfig.showClearAlways">Toggle showClearAlways</button>
            <button class="btn btn-default" ng-click="dynamicConfig.hideCheckboxes = !dynamicConfig.hideCheckboxes">Toggle Hide Checkboxes</button>
          </div>
        </div>

      </fieldset>

      <div class="row">
        <div class="col-sm-6">
          <div ng-show="dynamicConfig.multiple">Multi selection</div>
          <div ng-show="!dynamicConfig.multiple">Single selection</div>
          <div ng-show="dynamicConfig.hideCheckboxes">Hide checkboxes: true</div>
          <div ng-show="!dynamicConfig.hideCheckboxes">Hide checkboxes: false</div>
          <div ng-show="demoForm.$dirty">Form is dirty</div>
          <div ng-show="demoForm.$pristine">Form is pristine</div>
          <div ng-show="demoForm.$valid">Form is valid</div>
          <div ng-show="demoForm.$invalid">Form is invalid</div>
          <div ng-show="demoForm.demoField.$dirty">Field is dirty</div>
          <div ng-show="demoForm.demoField.$pristine">Field is pristine</div>
          <div ng-show="demoForm.demoField.$valid">Field is valid</div>
          <div ng-show="demoForm.demoField.$invalid">Field is invalid</div>
        </div>
        <div class="col-sm-6"></div>
      </div>
    </form>
  </body>
</html>
