<!DOCTYPE html>
<html ng-app="demo">
  <head>
    <!--[if lt IE 9]>
    <script type="text/javascript" src="../bower_components/es5-shim/es5-shim.js"></script>
    <![endif]-->

    <script type="text/javascript" src="../bower_components/angular/angular.js"></script>
    <script type="text/javascript" src="../bower_components/w11k-dropdownToggle/dist/w11k-dropdownToggle.js"></script>
    <script type="text/javascript" src="../bower_components/angular-bindonce/bindonce.js"></script>
    <script type="text/javascript" src="../dist/w11k-select.js"></script>
    <script type="text/javascript" src="../dist/w11k-select.tpl.js"></script>
    <script type="text/javascript" src="demo.js"></script>

    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css"/>
    <link rel="stylesheet" href="../dist/w11k-select.css"/>
    <link rel="stylesheet" href="../bower_components/font-awesome/css/font-awesome.css"/>

    <style type="text/css">
      body {
        padding: 2em;
      }
    </style>
  </head>
  <body ng-controller="DemoCtrl">
    <form name="demoForm">
      <fieldset>
        <div class="row">
          <div class="col-sm-6">
            <div w11k-select
                 w11k-select-multiple="true"
                 w11k-select-disabled="disabled"
                 w11k-select-options="option.value as option.label for option in options.data"
                 w11k-select-placeholder="'All'"
                 w11k-select-filter-placeholder="'Filter'"
                 w11k-select-required="false"
                 ng-model="selected.data"
                 name="demoField"
                >
            </div>
          </div>
          <div class="col-sm-6">
            <button class="btn btn-default" ng-click="selectRandom()">select random</button>
            <button class="btn btn-default" ng-click="createNewOptions()">create new options</button>
            <button class="btn btn-default" ng-click="disabled = !disabled">Toggle Disabled</button>
          </div>
        </div>

      </fieldset>

      <div class="row">
        <div class="col-sm-6">
          <div ng-show="demoForm.$dirty">Form is dirty</div>
          <div ng-show="demoForm.$valid">Form is valid</div>
          <div ng-show="demoForm.demoField.$dirty">Field is dirty</div>
          <div ng-show="demoForm.demoField.$valid">Field is valid</div>
        </div>
        <div class="col-sm-6"></div>
      </div>
    </form>
  </body>
</html>
